// Specific CSS for your home-page

.home {
  display: flex;
}

.home-left {
  flex: 0 0 50vw;
}

.home-right {
  padding-left: 50px;
}

.gig, .insta, .home-video, .home-production {
  padding: 10px;
  // border : solid 1px red;
  // * {
  //   border: solid 1px red;
  // }
}


.gig-category {
  border-bottom: solid 1px black;
  flex: 0 0 190px;
    h5 {
    margin-top: 0px;
  }
  text-align: left;
}


.gig-details {
  flex: 1 0 auto;
  padding-left: 10px;
  padding-top: 10px;
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
    color: $gray;
  }
  a:focus {
    text-decoration: none;
  }
}

.featured-production, .featured-video {
  border-bottom: solid 1px black;
  flex: 0 0 190px;
    h5 {
    margin-top: 0px;
  }
  text-align: left;
}

.insta-category {
  border-bottom: solid 1px black;
  padding-right: 10px;
  flex: 0 0 190px;
    h5 {
    margin-top: 0px;
  }
  text-align: left;
}


.insta-details {
  flex: 1 1 calc(100vw-190px);
  padding-left: 10px;
  padding-top: 10px;
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
    color: $gray;
  }
  a:focus {
    text-decoration: none;
  }
}

.insta-photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color:white;
  height: 250px;
  margin-bottom: 30px;
}

  @-webkit-keyframes argh-my-eyes {
    0%   {
      background-color: #fff;
      color: white;
    }
    49% {
      background-color: #fff;
      color: white;
    }
    50% {
      background-color: #000;
      color: white;
    }
    99% {
      background-color: #000;
      color: white; }
    100% {
      background-color: #fff;
      color: white;}
  }
  @-moz-keyframes argh-my-eyes {
    0%   {
      background-color: #fff;
      color: black;
    }
    49% {
      background-color: #fff;
      color: black;
    }
    50% {
      background-color: #000;
      color: white;
    }
    99% {
      background-color: #000;
      color: white; }
    100% {
      background-color: #fff;
      color: black;}
  }
  @keyframes argh-my-eyes {
      0%   {
      background-color: #fff;
      color: black;
    }
    49% {
      background-color: #fff;
      color: black;
    }
    50% {
      background-color: #000;
      color: white;
    }
    99% {
      background-color: #000;
      color: white; }
    100% {
      background-color: #fff;
      color: black;}
  }
  .featured-gig {
    -webkit-animation: argh-my-eyes 2s infinite;
    -moz-animation:    argh-my-eyes 2s infinite;
    animation:         argh-my-eyes 2s infinite;
    padding-left: 5px;
    padding-right: 5px;
}


@media(max-width: 992px) {

  .home {
    display: block;
  }


  .gig, .insta {
    display: block;
  }

  .gig-category, .insta-category {
    border-right: none;
    text-align: left;
    border-bottom: solid 1px black;
  }
  .gig-details, .insta-details {
    padding-top: 10px;
  }
}
