.info {
  display: flex;
  padding: 10px;
  // border : solid 1px red;
  // * {
  //   border: solid 1px red;
  // }
}


.info-category {
  border-right: solid 1px black;
  padding-right: 10px;
  flex: 0 0 190px;
    h5 {
    margin-top: 0px;
  }
  text-align: right;
}


.info-details {
  flex: 1 0 auto;
  padding-left: 10px;
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
    color: $gray;
  }
  a:focus {
    text-decoration: none;
  }
}

@media(max-width: 1000px) {
  .info {
    display: block;
  }
  .info-category {
    border-right: none;
    text-align: left;
    border-bottom: solid 1px black;
  }
  .info-details {
    padding-top: 10px;
  }
}
