// layout
.content {
  display: flex;
}

.left {
  flex: 0 0 30%;
  height: 80vh;
  position: sticky;
  top: 0;
}

// controls
.controls {
display: flex;
justify-content: space-around;
}

// production
.production_content {
  display: flex;
}

.playing {
  font-weight: bolder;
}

.track_running {
  color: red;
}
