// layout
.content {
  display: flex;
}

.left {
  flex: 0 0 30%;
  height: 85vh;
  position: sticky;
  top: 15vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: black;
}

.right {
  // padding: 20px;
  margin-left: 20px;
}

// labels
.labels_list {
  list-style: none;
  background-color: black;
  color: white;
}

// controls
.controls {
display: none;
justify-content: space-around;
background-color: black;
color: white;
}

// production


.production_content {
  display: flex;
  margin-bottom: 20px;
}

.production_details {
  padding-left: 20px;
}

.playing {
  font-weight: bolder;
}

.track_running {
  color: red;
}
