<h1>Productions de Myako</h1>
<% @labels.each do |label| %>
  <%= label.title %>
  <% label.productions.each do |production| %>
    <ul>
      <li> <%=link_to production.title, production_path(production) %> </li>
    </ul>
  <% end %>
<% end %>
