<div class="container home">
    <div class="gig-mobile">
      <div class="gig-category">
            <h5> NEXT GIGS </h5>
          </div>
          <div class="gig-details">
            <% @coming_gigs.each do |gig| %>
              <p> <%= "#{gig.date.strftime("%d/%m/%Y")} #{gig.detail}" %> </p>
            <% end %>
          </div>
    </div>
    <div class="home-left">
      <div class="insta">
        <div class="insta-category">
          <h5>SOCIAL NEWS</h5>
        </div>
        <div class="insta-details">
          <div class="row">
            <% @instagrams.each do |instagram| %>
              <div class="col-md-6">
                <div class="insta-photo" style ="background-image:url(<%= instagram %>)"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="home-right">
      <% if @coming_gigs.length > 0 %>
        <div class="gig">
          <div class="gig-category">
            <h5> NEXT GIGS </h5>
          </div>
          <div class="gig-details">
            <% @coming_gigs.each do |gig| %>
              <p> <%= "#{gig.date.strftime("%d/%m/%Y")} #{gig.detail}" %> </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>
