<div class="container home">

    <% if @coming_gigs.length > 0 %>
      <div class="gig">
        <div class="gig-category">
          <h5> NEXT GIGS </h5>
        </div>
        <div class="gig-details">
          <% @coming_gigs.each do |gig| %>
            <div class="gig-content">
              <p> <%= "#{gig.date.strftime("%d/%m/%Y")} #{gig.detail}" %> </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="home-production">
      <div class="featured-production">
        <h5>LISTEN</h5>
      </div>
      <div class="featured-production-details">
        <p><%= @featured_track.title %></p>
        <input type="range" id="range"/>
      </div>
    </div>

    <div class="insta">
      <div class="insta-category">
        <h5>GALLERY</h5>
      </div>
      <div class="insta-details">
        <div class="row">
          <% @instagrams.each do |instagram| %>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <%= link_to 'https://www.instagram.com/myako_bluepanther/', target: :_blank do %>
              <div class="insta-photo" style ="background-image:url(<%= instagram %>)"></div>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

</div>
