<div class="container">
  <div class="navbar-myako">
    <div class="navigation hidden-xs hidden-sm">
      <div class="pages"><%= link_to "RELEASES", tracks_path %></div>
      <div class="pages"><%= link_to "RADIO", radios_path %></div>
      <div class="pages"><%= link_to "VIDEO", videos_path %></div>
      <div class="pages"><%= link_to "INFO", infos_path %></div>
    </div>
  </div>
</div>
