.mobilemenu {
  min-height: 85vh;
  width: 100vw;
  position: sticky;
  top: 15vh;
  background-color: white;
  z-index: 2;
}

.mobilemenu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 30px 30px 30px;
}

a.mobilemenu-item {
  color: $gray;
  padding: 5px 0px;
  &:active {
    text-decoration: none;
    color: $gray;
  }
  &:hover {
    text-decoration: none;
    color: $gray;
  }
}

a.mobilemenu-item.mobilemenu-category {
}
