.player {
  display:flex;
  width: 50%;
  margin-right: 50px;
  margin-left: 50px;
}

.player_button {
  flex: 1 1 auto;
  margin-right: 1%;
  cursor:pointer;
}

.player_progress {
  background: black;
  flex: 1 1 100%;
  position: relative;
  height: 100%;
  margin: 10px;
}

.player_cursor {
  background: black;
  position: absolute;
  left: 0%;
  height: 100%;
  width: 0.5%;
}

@media(max-width: 1000px) {
  .player_progress {
    margin-top: 0px;
    margin-bottom: 5px;
    height: 25px;
  }
  .player-cursor {
    height: 25px;
  }
}

